<!-- <h1 class="text-3xl mb-5">Control Flow</h1> -->
<app-title title="Gestores Nokia y Huawei" withShadow></app-title>

<section class="grid grid-cols-1 md:grid-cols-2 gap-3">

  <!-- ngIf @if -->
  <div class="bg-white rounded shadow p-10">

    <h2 class="text-2xl font-bold mb-5">Gestores Huawei</h2>

    <p>
      Gestor Huawei AMBA https://10.75.98.19:31943/ <br>
      Neteco Huawei AMBA https://10.75.98.84:31943/ <br> <br>
      Gestor Huawei MEDI https://10.75.98.89:31943/ <br>
      Neteco Huawei MEDI https://10.75.98.130:31943/ <br> <br>

      Gestor de Transmisión Huawei <br>
      https://10.75.99.7:31943 <br>
      https://10.75.99.6:31943 <br>

    </p>


  </div>

  <!-- @switch-->
  <div class="bg-white rounded shadow p-10">
    <h2 class="text-2xl font-bold mb-5">Gestor Nokia</h2>

    URL Nokia: <br>
    https://rc1waslb.netact.telecom.com.ar/authentication/Login <br> <br>

    <i>3G/4G</i> <br>
    Usuario: Nemuadmin <br>
    Clave: nemuuser <br> <br>

    <i>4G</i> <br>
    Usuario: Nemuadmin1 <br>
    Clave: Nemuser12! <br>

  </div>


  <!-- @For-->
  <div class="bg-white rounded shadow p-10">

    <ul>


    </ul>



  </div>


  <div class="bg-white rounded shadow p-10">


  </div>


</section>
